.region-quick-links {
  text-align: center;
  padding-top: 2rem;
  .button {
    min-width: 85px;
    margin: 5px 5px 5px 0;
    padding: 10px;

    &.black {
      background: #232323;
      &:hover {
        background: #111;
      }
    }
  }
}

.menu-item-region-location {
  list-style: none;
  margin: 0 0 10px;
}

.handbook-chapters-list {
  float: left;
  width: 260px;
  margin-top: 25px;
  & + .site-main {
    width: calc(100% - 260px);
    float: left;
  }
  ul {
    list-style: none;
    margin-left: 10px;
    line-height: 1.8rem;
    font-size: 1rem;
  }
  h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }
}

@media all and (max-width: 450px) {
  .handbook-chapters-list {
    position: absolute;
    background: white;
    z-index: 100;
    top: 170px;
    left: -260px;
    padding: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    border-radius: 0 5px 5px 0;
    transition: left .5s ease-in-out;
    &.expanded {
      left: 0;
      &:before {
        transform: rotate(180deg);
        text-align: left;
      }
    }
    &:after {
      content: ' ';
      width: 20px;
      height: 40px;
      position: absolute;
      right: -20px;
      background: white;
      top: 50%;
      border-radius: 0 5px 5px 0;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    }
    &:before {
      content: "\000bb";
      width: 20px;
      height: 40px;
      position: absolute;
      right: -14px;
      background: white;
      top: 50%;
      z-index: 2;
      line-height: 36px;
      font-size: 19px;
      text-align: right;
      color: #999;
    }
  }
  .handbook-chapters-list + #main {
    width: 100%;
  }
}

@media all and (max-width: 700px) {
  .csstransforms .gh-headerdevice-container .gh-headerdevice-1 {
    height: 180px;
    width: 100%;
    margin: 0;
    top: 40px;
    transform: none;
  }
}

@media all and (max-width: 800px) {
  .widget-area {
    padding: 15px 15px 0 15px;
    display: block !important;
    & + .content-area {
      width: 100% !important;
    }
  }
  body.no-sidebar {
    .widget-area {
      & + .content-area {
        width: 100% !important;
      }
    }
  }
}

@media all and (min-width: 800px) {
  body.no-sidebar {
    .widget-area {
      display: block !important;
      & + .content-area {
        width: 660px !important;
      }
    }
    .content-area {
      width: 100% !important;
    }
  }
}

@media all and (min-width: 1230px) {
  body.no-sidebar {
    .widget-area {
      display: block !important;
      & + .content-area {
        width: 860px !important;
      }
    }
  }
}

@media all and (min-width: 1020px) {
  .widget-area {
    padding: 32px 15px 0 15px;
    margin-left: 0 !important;
  }
}
